## OS-X and generic ignores
.DS_Store
*/logs
*/tmp
*.env

## Vagrant
.vagrant/

## Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json

## Packer
packer_cache/
*.box

# ignore manifest.json during dev
packer/manifest.json

# do not store caddy certs
packer/drone-server-configs/caddy.tar.gz

