boto3==1.9.200
Click==7.0
configparser==3.7.4
flake8==3.7.8
pipdeptree==0.13.2
PyInstaller==3.5
pylint==2.3.1
pytest-cov==2.5.1
pytest-mock==1.10.4
python-dotenv==0.10.3
PyYAML==5.1.2
ruamel.yaml==0.16.0
wheel==0.33.4
